@{
    Layout = null;
}
<link href="~/layui/css/layui.css" rel="stylesheet" />
<link href="~/video/demo.css?version=20200805018" rel="stylesheet" />
<script src="~/layui/layui.js"></script>

<blockquote class="layui-elem-quote" style="margin-top: 5px; ">视频监控</blockquote>
<div style="padding: 20px; background-color: #F2F2F2;">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">显示面板</div>
                <div class="layui-card-body">
                    <div id="divPlugin" class="plugin"></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md6">
            <div class="layui-card">
                <div class="layui-card-header">操作面板</div>
                <div class="layui-card-body">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">登录 / 预览</li>
                            <li>数字通道</li>
                            <li>本地配置</li>
                            <li>绘图</li>
                            <li>云台控制</li>
                            <li>回放</li>
                            <li>系统维护</li>
                            <li>设备IP解析</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show layui-form-pane">
                                <fieldset class="layui-elem-field" style="margin-bottom: 5px;">
                                    <legend>登录</legend>
                                    <div class="layui-field-box" style="padding: 5px 15px;">
                                        <div class="layui-form-item" style="margin-bottom: 0px;">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">地址</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="loginip" name="loginip" autocomplete="off" class="layui-input" value="@ViewBag.loginip" />
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">端口号</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="port" name="port" autocomplete="off" class="layui-input" value="@ViewBag.port" />
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">用户名</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="username" name="username" autocomplete="off" class="layui-input" value="@ViewBag.username" />
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">密码</label>
                                                <div class="layui-input-inline">
                                                    <input type="password" id="password" name="password" autocomplete="off" class="layui-input" value="@ViewBag.password" />
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">设备端口</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="deviceport" name="deviceport" autocomplete="off" class="layui-input" placeholder="可选参数" />
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">窗口分割数</label>
                                                <div class="layui-input-inline layui-form">
                                                    <select lay-filter="changeWndNum">
                                                        <option value="1">1x1</option>
                                                        <option value="2" selected>2x2</option>
                                                        <option value="3">3x3</option>
                                                        <option value="4">4x4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">RTSP端口</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="rtspport" name="rtspport" autocomplete="off" class="layui-input" placeholder="可选参数" />
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <button type="button" class="layui-btn layui-btn-normal" onclick="clickLogin();">登  录</button>
                                                <button type="button" class="layui-btn layui-btn-danger" onclick="clickLogout();">退  出</button>
                                                <button type="button" class="layui-btn layui-btn-warm" onclick="clickGetDeviceInfo();">获取基本信息</button>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">已登录设备</label>
                                                <div class="layui-input-inline layui-form">
                                                    <select id="ip" lay-filter="loginDevice">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">通道列表</label>
                                                <div class="layui-input-inline layui-form">
                                                    <select id="channels">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="layui-elem-field" style="margin-bottom: 5px;">
                                    <legend>预览</legend>
                                    <div class="layui-field-box" style="padding: 5px 15px;">
                                        <div class="layui-form-item" style="margin-bottom: 0px;">
                                            <div class="layui-inline">
                                                <label class="layui-form-label">码流类型</label>
                                                <div class="layui-input-inline layui-form">
                                                    <select id="streamtype">
                                                        <option value="1">主码流</option>
                                                        <option value="2">子码流</option>
                                                        <option value="3">第三码流</option>
                                                        <option value="4">转码码流</option>
                                                    </select>
                                                </div>
                                                <button type="button" class="layui-btn layui-btn-normal" onclick="clickStartRealPlay();">开始预览</button>
                                                <button type="button" class="layui-btn layui-btn-danger" onclick="clickStopRealPlay();">停止预览</button>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">音量</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="volume" name="volume" value="50" maxlength="3" autocomplete="off" class="layui-input" />
                                                </div>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-normal" onclick="clickSetVolume();">设置</button>（范围：0~100）
                                                </div>
                                                <button type="button" class="layui-btn layui-btn-normal" onclick="clickOpenSound();">打开声音</button>
                                                <button type="button" class="layui-btn layui-btn-danger" onclick="clickCloseSound();">关闭声音</button>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">对讲通道</label>
                                                <div class="layui-input-inline layui-form">
                                                    <select id="audiochannels">
                                                    </select>
                                                </div>
                                                <div class="layui-input-inline">
                                                    <button type="button" class="layui-btn layui-btn-normal" onclick="clickGetAudioInfo();">获取通道</button>
                                                </div>
                                                <button type="button" class="layui-btn layui-btn-normal" onclick="clickStartVoiceTalk();">开始对讲</button>
                                                <button type="button" class="layui-btn layui-btn-danger" onclick="clickStopVoiceTalk();">停止对讲</button>
                                            </div>
                                            <div class="layui-inline">
                                                <button type="button" class="layui-btn" onclick="clickCapturePic();">抓  图</button>
                                                <button type="button" class="layui-btn layui-btn-normal" onclick="clickStartRecord('realplay');">开始录像</button>
                                                <button type="button" class="layui-btn layui-btn-danger" onclick="clickStopRecord('realplay');">停止录像</button>
                                            </div>
                                            <div class="layui-inline">
                                                <button type="button" class="layui-btn layui-btn-normal" onclick="clickEnableEZoom();">启用电子放大</button>
                                                <button type="button" class="layui-btn layui-btn-danger" onclick="clickDisableEZoom();">禁用电子放大</button>
                                                <button type="button" class="layui-btn layui-btn-normal" onclick="clickEnable3DZoom();">启用3D放大</button>
                                                <button type="button" class="layui-btn layui-btn-danger" onclick="clickDisable3DZoom();">禁用3D放大</button>
                                                <button type="button" class="layui-btn" onclick="clickFullScreen();">全屏</button>
                                            </div>
                                            <div class="layui-inline">
                                                <label class="layui-form-label">分辨率</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="resolutionWidth" name="resolutionWidth" autocomplete="off" class="layui-input" />
                                                </div>
                                                <div class="layui-input-inline" style="width:5px;padding-top:5px">x</div>
                                                <div class="layui-input-inline">
                                                    <input type="text" id="resolutionHeight" name="resolutionHeight" autocomplete="off" class="layui-input" />
                                                </div>
                                                <button type="button" class="layui-btn" onclick="clickDeviceCapturePic();">设备抓图</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="layui-tab-item ipchannel">
                                <div class="layui-inline">
                                    <button type="button" class="layui-btn" onclick="clickGetDigitalChannelInfo();">获取数字通道列表</button>
                                </div>
                                <hr>
                                <div class="layui-inline">
                                    <fieldset class="layui-elem-field">
                                        <legend>数字通道列表</legend>
                                        <div class="layui-field-box">
                                            <table id="digitalchannellist" class="digitalchannellist" cellpadding="0" cellspacing="0" border="0"></table>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="layui-tab-item layui-form-pane localconfig">
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">播放性能</label>
                                            <div class="layui-input-inline layui-form">
                                                <select id="netsPreach" name="netsPreach">
                                                    <option value="0">最短延时</option>
                                                    <option value="1">实时性好</option>
                                                    <option value="2">均衡</option>
                                                    <option value="3">流畅性好</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">图像尺寸</label>
                                            <div class="layui-input-inline layui-form">
                                                <select id="wndSize" name="wndSize">
                                                    <option value="0">充满</option>
                                                    <option value="1">4:3</option>
                                                    <option value="2">16:9</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">规则信息</label>
                                            <div class="layui-input-inline layui-form">
                                                <select id="rulesInfo" name="rulesInfo">
                                                    <option value="1">启用</option>
                                                    <option value="0">禁用</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">协议类型</label>
                                            <div class="layui-input-inline layui-form">
                                                <select id="protocolType" name="protocolType">
                                                    <option value="0">TCP</option>
                                                    <option value="2">UDP</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:145px">录像文件打包大小</label>
                                            <div class="layui-input-inline layui-form" style="width:155px">
                                                <select id="packSize" name="packSize">
                                                    <option value="0">256M</option>
                                                    <option value="1">512M</option>
                                                    <option value="2">1G</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:145px">抓图文件格式</label>
                                            <div class="layui-input-inline layui-form" style="width:155px">
                                                <select id="captureFileFormat" name="captureFileFormat">
                                                    <option value="0">JPEG</option>
                                                    <option value="1">BMP</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:145px">录像文件保存路径</label>
                                            <div class="layui-input-inline" style="width:325px">
                                                <input id="recordPath" type="text" class="layui-input" />
                                            </div>
                                            <div class="layui-input-inline">
                                                <button type="button" class="layui-btn" onclick="clickOpenFileDlg('recordPath', 0);">浏  览</button>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:145px">回放下载保存路径</label>
                                            <div class="layui-input-inline" style="width:325px">
                                                <input id="downloadPath" type="text" class="layui-input" />
                                            </div>
                                            <div class="layui-input-inline">
                                                <button type="button" class="layui-btn" onclick="clickOpenFileDlg('downloadPath', 0);">浏  览</button>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:145px">预览抓图保存路径</label>
                                            <div class="layui-input-inline" style="width:325px">
                                                <input id="previewPicPath" type="text" class="layui-input" />
                                            </div>
                                            <div class="layui-input-inline">
                                                <button type="button" class="layui-btn" onclick="clickOpenFileDlg('previewPicPath', 0);">浏  览</button>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:145px">回放抓图保存路径</label>
                                            <div class="layui-input-inline" style="width:325px">
                                                <input id="playbackPicPath" type="text" class="layui-input" />
                                            </div>
                                            <div class="layui-input-inline">
                                                <button type="button" class="layui-btn" onclick="clickOpenFileDlg('playbackPicPath', 0);">浏  览</button>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:145px">回放剪辑保存路径</label>
                                            <div class="layui-input-inline" style="width:325px">
                                                <input id="playbackFilePath" type="text" class="layui-input" />
                                            </div>
                                            <div class="layui-input-inline">
                                                <button type="button" class="layui-btn" onclick="clickOpenFileDlg('playbackFilePath', 0);">浏  览</button>
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label" style="width:145px">设备抓图保存路径</label>
                                            <div class="layui-input-inline" style="width:325px">
                                                <input id="devicePicPath" type="text" class="layui-input" />
                                            </div>
                                            <div class="layui-input-inline">
                                                <button type="button" class="layui-btn" onclick="clickOpenFileDlg('devicePicPath', 0);">浏  览</button>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn layui-btn-warm" onclick="clickGetLocalCfg();">获  取</button>
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickSetLocalCfg();">设  置</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item layui-form-pane draw">
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickEnableDraw();">启用绘制</button>
                                            <button type="button" class="layui-btn layui-btn-danger" onclick="clickDisableDraw();">禁用绘制</button>
                                        </div>
                                        <hr>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">图形ID</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="snapId" name="snapId" autocomplete="off" class="layui-input" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">名称</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="snapName" name="snapName" autocomplete="off" class="layui-input" />
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickAddSnapPolygon();">添加图形</button>
                                            <button type="button" class="layui-btn layui-btn-danger" onclick="clickDelSnapPolygon();">删除图形</button>
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickEditSnapPolygon();">编辑图形</button>
                                            <button type="button" class="layui-btn layui-btn-danger" onclick="clickStopSnapPolygon();">停止编辑</button>
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickGetSnapPolygon();">获取图形</button>
                                            <button type="button" class="layui-btn layui-btn-warm" onclick="clickSetSnapPolygon();">设置图形</button>
                                            <button type="button" class="layui-btn" onclick="clickDelAllSnapPolygon();">清空图形</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item layui-form-pane ptz">
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <table cellpadding="0" cellspacing="3" border="0" class="left">
                                            <tr>
                                                <td>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="mouseDownPTZControl(5);" onmouseup="mouseUpPTZControl();">左上</button>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="mouseDownPTZControl(1);" onmouseup="mouseUpPTZControl();">上</button>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="mouseDownPTZControl(7);" onmouseup="mouseUpPTZControl();">右上</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="mouseDownPTZControl(3);" onmouseup="mouseUpPTZControl();">左</button>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="mouseDownPTZControl(9);">自动</button>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="mouseDownPTZControl(4);" onmouseup="mouseUpPTZControl();">右</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="mouseDownPTZControl(6);" onmouseup="mouseUpPTZControl();">左下</button>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="mouseDownPTZControl(2);" onmouseup="mouseUpPTZControl();">下</button>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="mouseDownPTZControl(8);" onmouseup="mouseUpPTZControl();">右下</button>
                                                </td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="3" border="0" class="left" style="margin-left: 20px;">
                                            <tr>
                                                <td>
                                                    <label class="layui-form-label">云台速度</label>
                                                    <div class="layui-input-inline layui-form">
                                                        <select id="ptzspeed">
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4" selected>4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                        </select>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <label class="layui-form-label">预置点号</label>
                                                    <div class="layui-input-inline">
                                                        <input type="text" id="preset" name="preset" value="1" autocomplete="off" class="layui-input" />
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="layui-inline">
                                                        <button type="button" class="layui-btn layui-btn-warm" onclick="clickSetPreset();">设  置</button>
                                                        <button type="button" class="layui-btn layui-btn-normal" onclick="clickGoPreset();">调  用</button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table cellpadding="0" cellspacing="3" border="0" class="left" style="margin-left: 20px;">
                                            <tr>
                                                <td>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="PTZZoomIn();" onmouseup="PTZZoomStop();">变倍+</button>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="PTZZoomout();" onmouseup="PTZZoomStop();">变倍-</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="PTZFocusIn();" onmouseup="PTZFoucusStop();">变焦+</button>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="PTZFoucusOut();" onmouseup="PTZFoucusStop();">变焦-</button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="PTZIrisIn();" onmouseup="PTZIrisStop();">光圈+</button>
                                                    <button type="button" class="layui-btn layui-btn-primary btn" onmousedown="PTZIrisOut();" onmouseup="PTZIrisStop();">光圈+</button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item layui-form-pane playback">
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">码流类型</label>
                                            <div class="layui-input-inline layui-form">
                                                <select id="record_streamtype">
                                                    <option value="1">主码流</option>
                                                    <option value="2">子码流</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="layui-inline">
                                            <label class="layui-form-label">开始时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="starttime" name="starttime" value="2013-12-10 00:00:00" autocomplete="off" class="layui-input" />
                                            </div>
                                            <div class="layui-input-inline" style="width: 230px">
                                                （时间格式：2013-11-11 12:34:56）
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">结束时间</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="endtime" name="endtime" value="2013-12-10 23:59:59" autocomplete="off" class="layui-input" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickRecordSearch(0);">搜  索</button>
                                        </div>
                                        <br />
                                        <div class="layui-inline">
                                            <div id="searchdiv" class="searchdiv">
                                                <table id="searchlist" class="searchlist" cellpadding="0" cellspacing="0" border="0"></table>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickStartPlayback();">开始回放</button>
                                            <button type="button" class="layui-btn layui-btn-danger" onclick="clickStopPlayback();">停止回放</button>
                                            <button type="button" class="layui-btn layui-btn-warm" onclick="clickReversePlayback();">倒放</button>
                                            <button type="button" class="layui-btn" onclick="clickFrame();">单帧</button>
                                            <input id="transstream" type="checkbox" class="vtop" />&nbsp;启用转码码流
                                        </div>
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn layui-btn-warm" onclick="clickPause();">暂停</button>
                                            <button type="button" class="layui-btn" onclick="clickResume();">恢复</button>
                                            <button type="button" class="layui-btn layui-btn-warm" onclick="clickPlaySlow();">慢放</button>
                                            <button type="button" class="layui-btn" onclick="clickPlayFast();">快放</button>
                                        </div>
                                        <br />
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn layui-btn-warm" onclick="clickCapturePic();">抓图</button>
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickStartRecord('playback');">开始剪辑</button>
                                            <button type="button" class="layui-btn layui-btn-danger" onclick="clickStopRecord('playback');">停止剪辑</button>
                                            <button type="button" class="layui-btn" onclick="clickGetOSDTime();">OSD时间</button>
                                        </div>
                                        <div class="layui-inline">
                                            <div class="layui-input-inline">
                                                <input id="osdtime" type="text" class="layui-input" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item maintain">
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn" onclick="clickExportDeviceConfig();">导出配置文件</button>
                                            <button type="button" class="layui-btn" onclick="clickCheckPluginVersion();">检查插件版本</button>
                                            <button type="button" class="layui-btn" onclick="clickRemoteConfig();">远程配置库</button>
                                            <button type="button" class="layui-btn" onclick="clickRestoreDefault();">恢复默认参数</button>
                                        </div>
                                        <br />
                                        <div class="layui-inline">
                                            <div class="layui-input-inline">
                                                <input id="configFile" type="text" class="layui-input" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickOpenFileDlg('configFile', 1);">浏  览</button>
                                            <button type="button" class="layui-btn layui-btn-warm" onclick="clickImportDeviceConfig();">导入配置文件</button>
                                        </div>
                                        <br />
                                        <div class="layui-inline">
                                            <div class="layui-input-inline">
                                                <input id="upgradeFile" type="text" class="layui-input" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn layui-btn-normal" onclick="clickOpenFileDlg('upgradeFile', 1);">浏  览</button>
                                            <button type="button" class="layui-btn layui-btn-warm" onclick="clickStartUpgrade();">升  级</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="layui-tab-item layui-form-pane ipparse">
                                <div class="layui-field-box">
                                    <div class="layui-form-item">
                                        <div class="layui-inline">
                                            <label class="layui-form-label">模式</label>
                                            <div class="layui-input-inline layui-form">
                                                <select id="devicemode" lay-filter="changeIPMode">
                                                    <option value="1">IPServer</option>
                                                    <option value="2">HiDDNS</option>
                                                </select>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="layui-inline">
                                            <label class="layui-form-label">服务器地址</label>
                                            <div class="layui-input-inline">
                                                <input id="serveraddress" type="text" class="layui-input" value="" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">端口号</label>
                                            <div class="layui-input-inline">
                                                <input id="serverport" type="text" class="layui-input" value="7071" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <label class="layui-form-label">设备标识</label>
                                            <div class="layui-input-inline">
                                                <input id="deviceid" type="text" class="layui-input" value="" />
                                            </div>
                                        </div>
                                        <div class="layui-inline">
                                            <button type="button" class="layui-btn" onclick="clickGetDeviceIP();">获取设备IP</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">信息显示</div>
                <div class="layui-card-body">
                    <div class="layui-tab">
                        <ul class="layui-tab-title">
                            <li class="layui-this">操作信息</li>
                            <li>事件回调信息</li>
                        </ul>
                        <div class="layui-tab-content">
                            <div class="layui-tab-item layui-show operate">
                                <div id="opinfo" class="opinfo"></div>
                            </div>
                            <div class="layui-tab-item callback">
                                <div id="cbinfo" class="cbinfo"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/video/jquery-1.7.1.min.js"></script>
<script id="videonode" src="~/video/codebase/webVideoCtrl.js"></script>
<script src="~/video/cn/demo.js?version=20200805029"></script>
<script>
    $(function () {
        //是否自动登录播放
        if ('@ViewBag.autoPlay')
        {
            clickLogin();
            setTimeout(function () {
                clickStartRealPlay()
            }, 300);
        }

    })
</script>
